

.navbar-drop {
 --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-weight:600;   font-size: 14px; 
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  /*padding: 0.5rem 1rem;*/
  background-color: #5D44FF; /*000*/
  margin: 0 0 0 140px;
}


.navbar-drop a {
  float: left;
  font-size: 12px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown-menu1 {
  float: left;
  overflow: hidden; width:100%; 
}
.dropdown-menu1 .dropbtn i {font-size: 16px;}
.dropdown-menu1 .dropbtn {
  font-size: 12px;  
  border: none;
  outline: none;
  color: white;
  padding: 28px 15px;
  background-color: inherit;
  font: inherit;
  margin: 0; 
}

/*.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
  color:#FF5F65;
  opacity: .7;
}*/
.navbar-drop a:hover, .dropdown-menu1:hover {
  color:#5D44FF;
  /*opacity: .7;*/
}




.dropdown-menu-content {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1; 
}

.dropdown-menu-content .header {
  background: red;
  padding: 16px;
  color: white;
}

.dropdown-menu1:hover .dropdown-menu-content {
  display: block; 
}



.column.menu-sub {
 	font-size: 16px;
	color:#FF0000;
    /*line-height: 1rem;*/
    opacity: .5;
    display: block;
    /*margin-top: 0.5rem;*/
    letter-spacing: -.03em;
    max-width: 154px;
    min-height: 1.5rem;
}	

.column.menu-sub a:hover {
    color: #5D44FF;
}


/* Create three equal columns that floats next to each other */
.column1 {
  float: left;
  width: 22%;
  padding: 10px 20px;
  background-color: #fff;
  height: 300px; margin-top:50px; 
}
.column1 a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  margin-left:30px;
}
.column1 span{  font-size:12px; font-weight:normal;}
.column span{  font-size:12px; font-weight:normal;}
.column p{  font-size:12px; font-weight:normal;}
.column h3{  font-size:1rem; font-weight:bold;}
.column1 h3{ font-size:1rem; font-weight:bold;}
.column h3:hover{ color:#5D44FF;}
.column1 h3:hover{ color:#5D44FF;}
.column h2{font-size:1.2rem; color:#FDC401;}

.column-left span{  font-size:12px; font-weight:normal;}
.column-left p{  font-size:12px; font-weight:normal;}
.column-left h3{  font-size:1rem; font-weight:bold;}
.column-left h3:hover{ color:#5D44FF;}
.column-left h2{font-size:1.2rem; color:#FDC401;}
.column{
  float: left;
  width: 25%;
  padding: 20px;
  background-color: #fff;
  background: url("../images/devider2.jpg") no-repeat 0px 5px;
  height: 300px; 
}

.column a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left; margin-left:30px;
}

.column-left{
  float: left;
  width: 25%;
  padding: 10px 20px;
  background-color: #fff;
  height: 300px; margin-left:20px;
}

.column-left a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
    margin-left:30px;

}

/*.column a:hover {
  background-color: #ddd;
}*/

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.icondrop{
font-size: 25px;
color: #FDC401;
float: left;
padding-top: 25px;
width: 24px;
height: 22px;
display: inline-block;
margin-right: 1em;
margin-top: 0.8em;
}
.leads {
	background: url(../images/prospecting-icon.jpg) no-repeat 0px 0px;
}
.list-building-icon{
	background: url(../images/list-building-icon.jpg) no-repeat 0px 0px;
}
.enrichment{
	background: url(../images/enrichment-icon.jpg) no-repeat 0px 0px;
}
.extension{
	background: url(../images/extension-icon.jpg) no-repeat 0px 0px;
}

.integrations {
	background: url(../images/integrations-icon.jpg) no-repeat 0px 0px;
}
.sales{
	background: url(../images/sales-icon.jpg) no-repeat 0px 0px;
}
.marketing{
	background: url(../images/marketing-icon.jpg) no-repeat 0px 0px;
}
.recruiters{
	background: url(../images/recruiters-icon.jpg) no-repeat 0px 0px;
}
.hospitality-travel{
	background: url(../images/hospitality-travel-icon.jpg) no-repeat 0px 0px;
}
.finance{
	background: url(../images/finance-icon.jpg) no-repeat 0px 0px;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.icondrop {margin-top:0.5em;}
  .column{
    width: 80%; display: block; float:none; margin:0 0 0 20px; padding:1px 20px; height: fit-content; background-image:none;
}
   
.column1{    width: 80%; display: block; float:none;  margin:0 0 0 20px; padding:1px 20px; height: fit-content; background-image:none;
}
.column-left{ width: 80%; display: block; float:none;  margin:0 0 0 20px; padding:10px 0 0 20px; height: fit-content; background-image:none;
}
.navbar-drop {
  padding: 10px 1px;
text-decoration: none;
margin:0;}

.navbar-drop a {
    padding: 10px 1px;
  text-decoration: none;
}
 .dropdown-menu1 .dropbtn {  padding: 8px 15px;}
.menu-sub {display: none;}
.dropdown-menu-content .row{position:relative; display: block; height: 300px;    overflow: scroll;}
.column-left h2{font-size:1.1rem; font-weight:400;}
.column-left h3{font-size:0.9rem;}
.column h2{font-size:1.1rem; font-weight:400;}
.column h3{font-size:0.9rem;}
.column1 h2{font-size:1.1rem; font-weight:400;}
.column1 h3{font-size:0.9rem;}
}

